body {
    font-family: Arial, sans-serif;
    background-color: #a74a80; /* Dark blue */
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1, p {
    color: white; /* White color for both h1 and p */
}

button {
    padding: 10px 20px;
    background: rgb(185, 36, 93);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px; /* Space between buttons */
    display: inline-block; /* Ensures buttons are side by side */
}

button:hover {
    background: rgb(82, 5, 37);
}

img {
    width: 500px;
    height: auto; /* Keeps the aspect ratio */
}
